body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Quicksand', sans-serif;
  
  background-size: 50%;
  background-color: white;
  /* The image used */
  height: 500px;
  /* You must set a specified height */
  background-position: 90%;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
}

main {
  flex: 1 0 auto;
  font-family: 'Quicksand', sans-serif;

}

.landingTitle {
  color: #black;
}

#landingImage {
  background-image: url(logo.png);
  background-position: center;
}

hr {
  border: 2px solid #cef4ff
}

i.icon-black {
    color: black;
}

@media (max-width: 700px) {
    body {
        background: #white;
        background-image: none;
    }
}
